<!DOCTYPE html>
<html>
    <head>
        <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="style.css">
        
        <script>
        
        

        $(function load(){
            $(function(){
                $.ajax({
                    url: '/home',
                    type: 'GET',
                    success: function(response){
                        console.log(response);
                        
                        var jsObject = JSON.parse(response) 
                        
                        console.log(jsObject);

                        for (x in jsObject){
                            var newP = $('#newPost').clone();                            
                            newP.children("h1").children("a").append(document.createTextNode(jsObject[x].Header));
                            newP.children("p").append(document.createTextNode(jsObject[x].Contents)); 
                            var testTwo = newP.children("h1").children("a").attr("href");
                            var test = newP.children("h1").children("a").attr("href", testTwo + jsObject[x].TopicID);
                            var sauce = jsObject[x].TopicID;
                            newP.data('id',sauce); 

                            newP.appendTo(".body");
                            
                        }
                    },
                });
            });
            
        });

        


        </script>
    </head>
   
    <body class = "body">
        <h1 id = "h1" style="font-family: Arial";>COMP5013 Forum: Topics </a></h1> 
        
            <div class = "post" id = "newPost" data-id = "" style="background-color:#66FF99;"  >
                
                <h1 id = "postHead" style="font-family: Arial";><a href="http://127.0.0.1:5000/Topic/"></a></h1>
                <p id = "postBody" style="font-family: Arial";></p>
                
            
            </div>
        

        
            
    
    </body>
    <button class = "button" >
        Sign in
    </button>
</html>






